* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
  body {
    width: 100%;
    background-color: #f5f5f5;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
  
  .nav-items ul {
    display: flex;
    gap: 12px;
    text-decoration: none;
    list-style: none;
  }
  .nav-items ul li a {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-size: 18.1187px;
    color: #1b2227;
  }

  .nav-items a.active {
  text-decoration: underline 2px solid #25588a;
}
  
  .herobox {
    background-image: url(./images-pack/Slider\ hero\ box.png);
    height: 500px;
  }
  
  .herobox ul li {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 100px;
    color: #FFFFFF;
    font-style: normal;
  font-weight: 700;
  font-size: 26px;
  }
  
  .bookingsection {
    display: flex;
    /* width: 100%; */
    padding-left: 15px;
    padding-top: 10px;
    background-color: #F6F9FB;
    /* position: relative; */
    justify-content: space-around;
    gap: 3rem;
  }
  
  .bookings {
    /* width: 40%; */
    background-color: #f5f5f5;
    position: relative;
    padding: 1rem 2rem 1.5rem 0.5rem;
    left: 5rem;
    bottom:4rem;
    border-radius: 10px;
  }
  
  .oneway {
  background-color: #25588A;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 39px;
  color: #FFFFFF;
  outline: none;
  border: none;
  }
  .bookings a{
    /* background-color: white; */
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 39px;
    color: black;
  }
  .greed{
    outline: none;
    border: none;
  }
  .abc input{
    margin-top: 0.5rem;
    border: none;
    padding: 1rem;
    background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
    
  }
   .glyphicon {
    margin-top: 0.5rem;
    border: none;
    padding: 1rem 3rem;
    background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
    
  }
  
  .abc select{
    padding: 0.3rem;
    border: 1px solid #777777;
  border-radius: 8px;
  }
  .pics {
    float: right;
    /* display: block; */
    width: 60%;
  }

  .maincontent input {
    color: #000000;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
  }
  
  .bad{
    margin-bottom: 1rem;
    margin-top: 2rem;
    
  }
  .btn{
    margin-bottom: 2rem;
  border-radius: 8px;
  padding: 1rem 3rem;
    background-color: #25588A;
    color: white;
    /* position: relative; */
    border: none;
    outline: none;
  }
  .row{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  .form-group {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  margin-bottom: 2rem;
}
  
  .great{
    display: flex;
    margin-bottom: 2rem;
  }

  .how {
  background: #ffffff;
  /* position: absolute; */
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0.75%;
}
  
  .about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 1366px;
    height: 231.26px;
    left: 0px;
    top: 130;
  }
  
  .glutton{
    gap:30px;
    padding-right:7rem;
  }
  .glutton p{
    text-align: center;
  }
  .me {
    text-align: center;
    padding: 1.5rem;
  }
  
  .register {
    text-align: center;
    font-size: 20px;
    background: #FFFFFF;
    outline: none;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .greedy {
  font-size: 18px;;
  background-color: #25588A;
  line-height: 21.09px;
  font-weight: 400;
  text-align: center;
  color: #f5f5f5;
  width: 169px;
  height: 39px;
  border-radius: 5pX;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  border: none;
  outline: none;
  }
  .footer {
    background: #5b7281;
    width: 100%;
    margin-top: 23px;
    padding-top: 23px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 70px;
  }
  .sub-footer {
    /* justify-items: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .first {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .first p {
    font-weight: 500;
    font-size: 16px;
    color: #111111;
  }
  .first img {
    cursor: pointer;
  }
  
  .second {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .second p {
    font-weight: 500;
    font-size: 16px;
    color: #1b2227;
  }
  .third {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .fourth {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .fourth p {
    font-weight: 400;
    font-size: 15px;
    line-height: 145.23%;
    color: #f6f9fb;
    text-align: right;
  }
  
  .sub-footer ul li,
  .sub-footer ul li a {
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #f6f9fb;
  }
  
  .socials {
    display: flex;
    gap: 22px;
    justify-content: right;
  }
  .socials img {
    cursor: pointer;
  }
  
  .subscribers {
    padding: 10px;
  }
  