* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  background-color: #f5f5f5;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  background: #d0e0eb;
}

.nav-items ul {
  display: flex;
  gap: 12px;
  text-decoration: none;
  list-style: none;
}
.nav-items ul li a {
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  font-size: 18.1187px;
  color: #1b2227;
}

.nav-items a.active {
  text-decoration: underline 2px solid #25588a;
}

main {
  padding: 0 100px 160px;
}
main h1 {
  margin-top: 16px;
  font-weight: 500;
  font-size: 40px;
  color: #1b2227;
}

.sub-nav ul {
  display: flex;
  gap: 46px;
  justify-content: center;
  align-items: center;
  padding: 32px 175px;
  background: #ffffff;
  border-radius: 22px;
  margin-top: 24px;
  list-style: none;
}
.sub-nav ul li a {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}
.sub-navss ul {
  display: flex;
  gap: 34px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 100px;
  color: #000000;
}
.sub-navss ul li {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.act {
  font-weight: 600;
  font-size: 22px;
  padding: 15px 40px;
  text-align: center;
  color: #ffffff;
  background: #25588a;
  border-radius: 7.52219px;
}
.suby {
  display: flex;
  justify-content: center;
  width: 100%;
}
.forms {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 50%;
}
.flexy {
  display: flex;
  gap: 64px;
}

input::placeholder {
  font-weight: 700;
  font-size: 16px;
  color: #1a1a1a;
  position: fixed;
  top: 1;
  left: 2;
}

.num {
  border: 1px solid #1b2227;
  border-radius: 4px;
  padding: 5px 15px 10px;
  width: 704px;
  height: 80px;
}
.name {
  border: 1px solid #1b2227;
  border-radius: 4px;
  padding: 5px 15px 10px;
  width: 646px;
  height: 80px;
}
.date {
  border: 1px solid #1b2227;
  border-radius: 4px;
  padding: 5px 15px 10px;
  width: 165px;
  height: 78px;
}
.cvv {
  border: 1px solid #1b2227;
  border-radius: 4px;
  padding: 5px 10px 10px;
  width: 92px;
  height: 78px;
}

.pays {
  margin: 7px auto 0;
  justify-content: center;
  align-items: center;
  padding: 11px;
  background: #25588a;
  border-radius: 8px;
  width: 376px;
  height: 52.27px;
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}
.cards {
  display: flex;
  margin-top: 40px;
  gap: 40px;
  justify-content: center;
  cursor: not-allowed;
}
