
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.container{
    width: 50%;
    height: 200px;
    margin: 80px auto 60px;
    display: flex;
}

.good {
    text-align: center;
    color: blue;
    padding-top: 100px;
    padding-right: 220px;
    padding-bottom: 0px;
}
.item2-2{
    border-radius: 8px;
}

.item2-2{
    width: 70%;
    background-color: white;
    height: 420px;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 32px 0px 0px;
    margin: 25px auto 0px;
}

input, button{
    border-radius: 5px;
}

input{
    height: 30px;
    margin-bottom: 20px;
    border: 1px grey solid;
    background: transparent;
    outline: none;
    padding: 8px;
    font-size: 0.87em;
    font-weight: 500;
    color: hsl(249, 10%, 26%);
    background-image: none;
    transition: background-image 4s 2s ease-in, border-color .5s .5s linear, border-width .5s 1s;
}

::placeholder{
    color: hsl(249, 10%, 26%);
    font-size: 1em;
    font-weight: 500;
}

input:invalid{
       background-repeat: no-repeat;
    background-position: right;
    background-position-x: 95%;
    border-color: gray;
}

input:hover, input:active, input:focus{
    border: 1px grey solid;
}

input:valid{
    border-color: rgb(9, 165, 56);
    border-width: 2px;
}

button{
    color: white;
    background-color: rgb(64, 64, 144);
    border: none;
    outline: none;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 10px;
    border-bottom: 3px rgb(40, 40, 43) solid;
    cursor: pointer;
}
button:hover{
    background-color: rgb(177, 227, 115);
    color: white;
}

/* button.mine{
    text-align: center; */
}
.item2-2 p{
    padding: 8px 0px;
    text-align: center;
    font-size: 0.8em;
    color: hsl(246, 25%, 77%);
}
.item2-2 a:link{
    text-decoration: none;
    font-weight: 700;
    color: hsl(0, 100%, 74%) ;
}
.item2-2 a:visited{
    color: hsl(0, 100%, 74%) ;
}
.item2-2 a:hover{
    color: red;
}

/* RESPONSIVENESS */

@media screen and (max-width: 912px){
    body{
        background-image: url(bg-intro-mobile.png);
}
    .container{
        width: 85%;
        height: fit-content;
        margin: 90px auto 60px;
        flex-direction: column;
    }
    
    }
    .item2-2{
        height: 445px;
    }
    .item2-2 p{
        letter-spacing: 0.07em;
        padding: 5px 25px;
    }
